<div>
  <h1>{{restaurant.name}}</h1>
  <a href="/restaurants?categoryId={{restaurant.Category.id}}"
  class="mt-2 badge badge-secondary"
  >
  {{restaurant.Category.name}}
  </a>
  <br/>
  <hr/>
  <ul>
    <li>評論數： {{countComment}}</li>
    <li>瀏覽次數：{{restaurant.totalViews}}</li>
    <li>收藏數： {{totalsLikes}}</li>
  </ul>
</div>