<div>
  <div>
    <img src="{{user.image}}" alt="User-photo">
  </div>
  <div>
    <p> {{user.name}}{{user.id}} </p>
    <p> {{user.email}} </p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">EDIT</a>
  </div>
</div>